In [ ]:
#TODO:
#Add logger & convert print statements to logging
#add comments

In [39]:
import json
import re

In [5]:
import pandas as pd
pd.options.display.max_rows = 4000

In [6]:
f= open("./archive/quarterly_salary_discussion_jun_2023.json", 'r')
json_deserialized = json.load(f)

In [7]:
print(len(json_deserialized))

2

In [9]:
df = pd.json_normalize(json_deserialized[1]["data"], record_path=["children"], max_level=1)

In [10]:
print(df.head())

  kind data.author_flair_background_color data.subreddit_id  \
0   t1                               None          t5_36en4
1   t1                               None          t5_36en4
2   t1                               None          t5_36en4
3   t1                               None          t5_36en4
4   t1                               None          t5_36en4

   data.approved_at_utc  data.author_is_blocked data.comment_type  \
0                   NaN                   False              None
1                   NaN                   False              None
2                   NaN                   False              None
3                   NaN                   False              None
4                   NaN                   False              None

  data.awarders data.mod_reason_by data.banned_by data.author_flair_type  ...  \
0            []               None           None                   text  ...
1            []               None           None                   text  ...
2            []               None           None                   text  ...
3            []               None           None                   text  ...
4            []               None           None                   text  ...

           data.author data.created_utc  data.subreddit_name_prefixed  \
0         BklynTwinMom     1.685673e+09             r/dataengineering
1              tanmmay     1.685638e+09             r/dataengineering
2               Luxi36     1.685678e+09             r/dataengineering
3   ExistentialFajitas     1.685697e+09             r/dataengineering
4  CarelessPassage8579     1.685707e+09             r/dataengineering

  data.controversiality data.depth data.ignore_reports  \
0                     0          0               False
1                     0          0               False
2                     0          0               False
3                     0          0               False
4                     0          0               False

  data.collapsed_because_crowd_control  data.mod_reports data.num_reports  \
0                                 None                []                0
1                                 None                []                0
2                                 None                []                0
3                                 None                []                0
4                                 None                []                0

  data.ups
0       31
1       43
2       22
3       19
4       19

[5 rows x 75 columns]

In [11]:
print(df.columns)

Index(['kind', 'data.author_flair_background_color', 'data.subreddit_id',
       'data.approved_at_utc', 'data.author_is_blocked', 'data.comment_type',
       'data.awarders', 'data.mod_reason_by', 'data.banned_by',
       'data.author_flair_type', 'data.total_awards_received',
       'data.subreddit', 'data.removed', 'data.author_flair_template_id',
       'data.likes', 'data.replies', 'data.user_reports', 'data.saved',
       'data.id', 'data.banned_at_utc', 'data.mod_reason_title', 'data.gilded',
       'data.archived', 'data.collapsed_reason_code', 'data.no_follow',
       'data.spam', 'data.can_mod_post', 'data.send_replies', 'data.parent_id',
       'data.score', 'data.author_fullname', 'data.removal_reason',
       'data.approved_by', 'data.mod_note', 'data.all_awardings',
       'data.collapsed', 'data.body', 'data.edited', 'data.top_awarded_type',
       'data.author_flair_css_class', 'data.name', 'data.is_submitter',
       'data.downs', 'data.author_flair_richtext', 'data.author_patreon_flair',
       'data.body_html', 'data.gildings', 'data.collapsed_reason',
       'data.distinguished', 'data.associated_award', 'data.stickied',
       'data.author_premium', 'data.can_gild', 'data.link_id',
       'data.unrepliable_reason', 'data.approved',
       'data.author_flair_text_color', 'data.score_hidden', 'data.permalink',
       'data.subreddit_type', 'data.locked', 'data.report_reasons',
       'data.created', 'data.author_flair_text', 'data.treatment_tags',
       'data.author', 'data.created_utc', 'data.subreddit_name_prefixed',
       'data.controversiality', 'data.depth', 'data.ignore_reports',
       'data.collapsed_because_crowd_control', 'data.mod_reports',
       'data.num_reports', 'data.ups'],
      dtype='object')

In [12]:
print(df.shape)

(116, 75)

In [69]:
#select columns of interest
transformed_df = df[["data.id","data.author_fullname","data.created","data.body","data.permalink"]]

In [70]:
#Convert UTC dates
transformed_df["data.created"] = pd.to_datetime(df["data.created"],unit='s')

/var/folders/pr/pffq2swj3wjdp25_j3mhffgh0000gn/T/ipykernel_92815/884217166.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transformed_df["data.created"] = pd.to_datetime(df["data.created"],unit='s')

In [71]:
#Convert subreddit names to URLs
transformed_df["data.permalink"] = 'https://reddit.com' + df["data.permalink"]

/var/folders/pr/pffq2swj3wjdp25_j3mhffgh0000gn/T/ipykernel_92815/3354919982.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transformed_df["data.permalink"] = 'https://reddit.com' + df["data.permalink"]

In [72]:
#replace double newline, carriage return and tab characters
transformed_df["data.body"] = transformed_df["data.body"].str.replace("\n\n","\n")
transformed_df["data.body"] = transformed_df["data.body"].str.replace("\r","")
transformed_df["data.body"] = transformed_df["data.body"].str.replace("\t","")

/var/folders/pr/pffq2swj3wjdp25_j3mhffgh0000gn/T/ipykernel_92815/2853373037.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transformed_df["data.body"] = transformed_df["data.body"].str.replace("\n\n","\n")
/var/folders/pr/pffq2swj3wjdp25_j3mhffgh0000gn/T/ipykernel_92815/2853373037.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transformed_df["data.body"] = transformed_df["data.body"].str.replace("\r","")
/var/folders/pr/pffq2swj3wjdp25_j3mhffgh0000gn/T/ipykernel_92815/2853373037.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transformed_df["data.body"] = transformed_df["data.body"].str.replace("\t","")

In [75]:
#Split on newline character and save as new df
transformed_df_copy = transformed_df
transformed_df_body = transformed_df["data.body"].str.split('\n',expand=True)

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,1. Staff Data Engineer,"2. 11y in software, 2.5y in data",3. Fully remote with HQ in NYC,4. $185K USD,5. $15K signing bonus,6. Workforce development,"7. BigQuery, dbt, AWS (kinesis, lambda), Airfl...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,1. Title: Senior Analytics Engineer,2. YOE: 7,"3. Location: Seattle, WA","4. Base Salary: $190,000","5. Bonuses/Equity: 20k joining, 120k equity sp...",6. Industry: Telehealth,"7. Tech Stack: Big Query, dbt, airflow, sql, l...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,1. Title: Data Engineer,"2. YOE: 5 (3 as DE, 2 as SQL developer)",3. Location: The Netherlands,4. Base Salary: 5.250 gross per month,5. Bonus: currently none,6. Industry: Health tech,"7. Tech stack: GCP (Storage, VM), PySpark, SAS...",Edit: explained YOE,None,None,...,None,None,None,None,None,None,None,None,None,None
3,1. Database Engineer II,2. YOE: &lt;1,"3. Hybrid US Midwest, MCOL",4. Base: $85k,5. 5% target annual bonus,6. Finance,"7. From: Airflow, DBT, Snowflake",To: Unknown minus Azure Data Factory. Intend t...,Background: just accepted this offer for $85k....,None,...,None,None,None,None,None,None,None,None,None,None
4,1. Title : Senior Data Engineer,2. YOE : 5,3. Location : London,4. Base salary: £65000,5. Edu,"7. Tech stack : Azure cloud (ADF, ADLS), datab...",None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,1. Current Title: Senior Machine Learning Engi...,2. Years of experience: 4 years in various eng...,"3. Location: Chicago, but I work remote every ...",4. Base salary: 155k,"5. Bonuses/Equity: realistically 5-10k, but co...",6. Industry: DM and I might be able to tell,"7. Tech Stack: would take forever to write, bu...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,1. Data Engineering Manager,2. 7 YOE,3. Seattle,4. $181k,5. TC with stocks adding up to $420k.,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,1) Title: Analytics Engineer,"2) YOE: 11.5 in software, 3.5 in data.","3) Location: Orlando, FL","4) Base Salary: $117,000","5) Bonuses: Cash 7% target, long term incentiv...",6) industry: hospitality,"7) Tech: Hadoop/hive, python, snowflake, MariaDB",None,None,None,...,None,None,None,None,None,None,None,None,None,None
8,1. Title: Data Engineer II,"2. YOE: 2.5 in software, 1.5 in data.","3. Location: Orlando, FL","4. Base Salary: $139,000",5. Bonuses: 10% target,6. Industry: Healthcare,"7. Tech: Python, Snowflake, Airflow, Spark",None,None,None,...,None,None,None,None,None,None,None,None,None,None
9,1. title : BI + ETL developer,"2. YOE : 0.5 DE, 2+ IT BA","3. Location : HCMC, Vietnam","4. Base Sal : $15,600",5. Bonuses : -,6. Industry : HRM / MSP,7. Tech : traditional MS shop with MS stack : ...,None,None,None,...,None,None,None,None,None,None,None,None,None,None
10,1. Title: Data Engineer,2. YOE: 6.5 in data.,3. Location: DC,"4. Base Salary: $160,000",5. Bonuses: 10% target,6. Industry: startup,"7. Tech: Python, Snowflake, dagster, dbt",None,None,None,...,None,None,None,None,None,None,None,None,None,None
11,1. Senior Data Engineer,2. 6 YOE,"3. Copenhagen, Denmark",4. 720000 DKK (Approx € 97000),5. 7.5% up to 14%,6. Maritime,7. Aws,None,None,None,...,None,None,None,None,None,None,None,None,None,None
12,1.⁠ Data Engineer,"2.⁠1Y BI, 2Y MLE, 1Y DE","3.Lcol, Tier 2 city in India",4.⁠16 LPA INR,5.⁠2 LPA INR,6.⁠Aviation,"7.⁠Python, Spark, Azure, Data Factory, Databricks",None,None,None,...,None,None,None,None,None,None,None,None,None,None
13,1. Data engineer,2. 3 years academia bioinformatics with softwa...,"3. Fully remote, Durham, NC","4. $95,500","5. up to $5,000 yearly bonus",6. Healthcare,"7. Snowflake, Teradata, Alteryx, Ab initio (cu...",Female. All self-taught. No formal training in...,None,None,...,None,None,None,None,None,None,None,None,None,None
14,1. Data Engineer,"2. 4 (1 as DE, 3 as Analyst/Bi developer)",3. Finland,4. 60k EUR,"5. Holiday bonus 2,5k EUR , Billing rate bonus...",6. Consulting,"7. AWS (Glue, Lambda, S3, Athena, RDS, Cloudfo...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
15,1. Sr Data Engineer,2. 8 YOE in data,"3. Seattle, WA (remote)",4. 184k Base,5. At current market value my annual equity is...,6. Tech,"7. AWS, Snowflake, Airflow, internally develop...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
16,1. Title: Data Engineer,2. YoE: 2.5,"3. Location: remote, I’m based in north east US",4. Base: $125k,5. Bonuses: up to 30% salary,"7. Tech stack: GCP (BQ, cloud run, etc), Pytho...",None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
17,1. Current title,Principal DE,2. Years of experience (YOE),Too many,3. Location,SoCal,"4. Base salary &amp; currency (dollars, euro, ...","230,000 USD",5. Bonuses/Equity (optional),Bonus: 35k,...,None,None,None,None,None,None,None,None,None,None
18,1. Title: Analytics Engineer (bit of everythin...,2. YOE: 3.5,"3. Location: Indianapolis, IN","4. Base salary: $90,000",5. Bonuses: \~10% Cash,6. Industry: Agriculture,"7. Tech: Fivetran, Snowflake, dbt, Tableau",None,None,None,...,None,None,None,None,None,None,None,None,None,None
19,1. Title: Data Engineer,"2. YOE: &lt;1, 3 in data","3. Location: Des Moines, IA",4. Base Salary: 75k,5. Bonuses: Up to 12% Base,6. Industry: Insurance,"7. Tech: Azure, dbt, Prefect, python",None,None,None,...,None,None,None,None,None,None,None,None,None,None
20,1. Data Engineering and BI Manager,2. YOE: 5,3. 100% Remote (US Based),4. 135k,5. approx 15k per year,6. Consumer goods,"7. Dbt, python, prefect, snowflake, azure, aws...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
21,1. Title: Data Engineer,2. YOE: 1,3. Location: Seattle,4. Base: $140k USD,5. Bonus: ~10k (based on rev/profitability),6. Industry: Insuretech,"7. Tech: AWs, Pyspark, DBT, Databricks, Airflo...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
22,1. Everything ?,"(ELT development , DB management, BI report / ...",Also I have been taking on the role of BI arc...,,,2. 6 YOE,,,"3. Mtl, Qc, Canada",,...,,,"7. Old stack -&gt; MS SSIS, SSMS, tableau",,,"New stack -&gt; AWS MWAA (Airflow), dbt, snowf...",,,I am slowly starting to look around for better...,None
23,1.⁠Senior “enterprise technology analyst” (dat...,2.⁠11 years in data (first 5 analytics and ML),"3.⁠US West coast (still WFH, but they’re plann...","4.⁠154K USD (146K in 2022, before promotion to...",5.⁠None.,6.⁠Utilities (municipal),"7.⁠Me: Hadoop, Spark, Python, SQL, custom orch...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
24,1. Title: senior sales engineer,2. YOE: 15 years,3. Location: remote (Indiana),"4. Base salary: 185,000","5. Other income: 65,000 commission target + 20...",6. Healthcare,7. Snowflake,None,None,None,...,None,None,None,None,None,None,None,None,None,None
25,1. Data Engineer.,2. Self taught into job. Just over 2 YOE in D...,"3. UK (Not London, not South).",4. £70k,5. N/A,6. Professional services.,"7. Azure stack: Python/PySpark, Synapse, SQL, ...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
26,1. Title: Senior Data Engineer,"2. YOE: 2 years Software, 5 years DevOps, 10 y...","3. Location: Melbourne, Australia","4. Base Salary: $176,800 AUD",5. Bonuses: Cash 3%-6% depending on performance,6. Industry: Employment,"7. Tech: Python, Scala, SQL, Spark, Kafka, NiF...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
27,1. Data Engineer,2. 4y + 2y as DE,3. South Germany,4. 58k€,5. 6k€,6. Automotive,"7. PySpark, Databricks",None,None,None,...,None,None,None,None,None,None,None,None,None,None
28,1.Data Engineer,2.2,3.Remote US,4.140000 USD,"5.5% cash, stock options vested evenly over 4 ...",7.GCP,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
29,1. Current title: DE,"2. YOE: 4.5 (2 as analyst, 1 as BI engineer, 1...",3. Location: Remote Midwest,4. Base salary: $140k usd,5. Bonus: 10%,6. Industry: entertainment,"7. Tech stack: dbx, Snowflake, azure",Started this year at $89.7k base 🤠,None,None,...,None,None,None,None,None,None,None,None,None,None
30,1.⁠Title: Data Engineer,2.⁠YOE: 5,3.⁠Location: Midwest remote,"4.⁠Base Salary: $140,000",5.⁠Bonuses: ~$50K in stock,6.⁠industry: finance,"7.⁠Tech: airflow, python, snowflake",None,None,None,...,None,None,None,None,None,None,None,None,None,None
31,[deleted],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
32,1. SENIOR TECHNICAL DATA ANALYST,"2. 10 (on and off in various data roles, was o...",3. REMOTE,4. 125k USD all cash.,"5. This year, it was $700.00(dont spend it all...",6. Food Service,"7. SQL, Light Python",None,None,None,...,None,None,None,None,None,None,None,None,None,None
33,1. Title: Senior Data Engineer,2. YOE: 5 years,"3. Location : Toronto, ON, Canada","4. Base : $130,000",5. Bonus 25%,6. Industry: Finance,7. Tech Stack: mostly Azure based,None,None,None,...,None,None,None,None,None,None,None,None,None,None
34,Title: senior data engineer,YOE: 7,Location: TX,Base salary: 175k,Bonus: sign on for 20k,Industry: Insurance,"Tech stack: Azure, ADF, blob, VMs, ASQL, python",None,None,None,...,None,None,None,None,None,None,None,None,None,None
35,1. Senior Data Engineer,2. 4 years,3. England,"4. £58,000 (GBP)",5. Up to 10% per year (4.5% for 2023),6. Retail,7. Azure / Databricks / Python / Synapse,None,None,None,...,None,None,None,None,None,None,None,None,None,None
36,1. Title: Lead Data Engineer,2. YOE: 20+ years,3. Location: remote USA,4. Salary: $185K USD,5. Bonus: 5-10%,6. &amp;#x200B;,7. Tech stack: Databricks,None,None,None,...,None,None,None,None,None,None,None,None,None,None
37,1. Senior Data Engineer,2. 6 years,3. US west coast full remote,4. 180k,5. 40k paper money,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
38,1. Analytics Engineer II,2. 2 years,"3. Dallas, TX",4. 82.5K,5. 10% of base,6. Advertising,"7. AWS, GCP, Python, dbt, SQL",None,None,None,...,None,None,None,None,None,None,None,None,None,None
39,1. Data engineer,2. 3 as an analyst + 2 as a SWE/DE,3. SF Bay Area,4. 115K,5. 20k bonus,"7. python, AWS, legacy code has own scheduling...",None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
40,1. Title: Senior Data Engineer (More like Data...,"2. YOE: 2.5 in weird Data role, 1.5 in Web Dev...","3. Location: Bangkok, Thailand (Hybrid) 4 day...","4. Base Salary: \~ $42,000",5. Bonus: 33%-38% Cash (2022: 33%),6. Industry: Manufacturing,"7. Tech Stack: Azure (ADF, ADLS, Batch, Functi...",,I am pretty sure I am way underpaid compared t...,None,...,None,None,None,None,None,None,None,None,None,None
41,1. Staff Data Engineer,2. Too many years,3. Remote (HQ - NY),4. $210k USD,5. Equity $200k,"7. GCP, Postgres, DBT, BQ, Airflow, GCF, AWS, ...",None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
42,1. Lead Data Engineer,2. 14 years,3. America - Remote only.,4. 311k USD,"5. Begins at 20%, technically no cap.",7. Kinda alot. Azure/AWS/On-Prem. Mix of DB's....,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
43,```,1. Director of Data. Less impressive than it s...,2. Twelve total years experience,- three-ish years as a quant,- eight as Data Sci &amp; Analytics Eng,"3. fully remote (I split time between US, BVI,...",4. 194k USD base,5. Additional comp,- Spot+yearly bonuses ~5-10%,- $98k RSUs/yr,...,None,None,None,None,None,None,None,None,None,None
44,1. Data Engineer - operations process,"2. 6 professional, 1 in DE",3. NYC - (HYBRID),4. $90k USD,5. 10% + equity,6. Startup - logistics,"7. Python, SQL, AWS (S3, Lambda), Kafka, Alteryx",None,None,None,...,None,None,None,None,None,None,None,None,None,None
45,1. Data engineer,2. 4 YOE,3. Seattle,4. 124k,"5. 10% cash, 20k yearly in stock",6. Entertainment,"7. Snowflake, python, airflow",None,None,None,...,None,None,None,None,None,None,None,None,None,None
46,"1. Title: Associate Director, Data Engineering","2. YOE: 17 years in data (DBA, analyst, engineer)",3. Location: Small city in Pennsylvania,4. Base Salary: $136k,5. Industry: Environmental non-profit,6. Tech: Currently SAS and Redshift but with e...,Sometimes feel vastly underpaid but that’s my ...,None,None,None,...,None,None,None,None,None,None,None,None,None,None
47,1: Data Engineer,2.: 3 YOE,"3: Budapest, Hungary",4: 37000 Euros,"5: breakfast, lunch in the office. Multiple te...",6: American job board,"7: AWS (lambda, ecs, emr, dynamo, kinesis, ste...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
48,Awesome,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
49,1. Data engineer,2. 1 year DE 2 years DS 3 years other,3. Boston,4. 160k,"5. No bonus, nonzero but pretty shit equity",6. Logistics,"7. AWS, Airflow, Snowflake, dbt",None,None,None,...,None,None,None,None,None,None,None,None,None,None
50,,1.Business Intelligence Engineer,2.4 Years of experience (YOE),"3.Remote, Texas based company",4.$120K just did raises from $105 US dollars,5.Bonuses/Equity: 10% target expect less this ...,6.Industry: Transportation and Logistics,"7.dbt, Snowflake, GitHub, and PowerBI",None,None,...,None,None,None,None,None,None,None,None,None,None
51,1. Senior Data Engineer (Tech Lead),2. 9 yrs mix of software/data,"3. Remote (company HQ in NJ), I’m in Baton Rou...",4. $140k salary,5. 401k 5% match (3% at 100% match 4 and 5 50%...,6. Health Tech,"7. Snowflake, Azure storage, ADF, dbt, some Py...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
52,Not a lot of samples from Canada. Hoping to ge...,1. Data Engineer,"2. 10Yr in Industry, 6 as DBA(OLTP and OLAP) a...","3. B.C, Canada",4. 120K CAD,5. 10% base + RRSP Match,6. Retail,"7. Azure. Azure Databricks, ADF, Synapse, SQL,",None,None,...,None,None,None,None,None,None,None,None,None,None
53,I just got a couple job offers and wanted to s...,,Current job,1. Title: Data Engineer (L4 is senior technica...,2. YOE: 4,"3. Location: Remote US (SF Bay Area, comp is s...",4. Base: $180k USD,"5. Bonuses/Equity: No bonus; 12k ISOs, strike ...",6. Industry: Retail (Series C),"7. Tech stack: Databricks, GCP, Python, Looker...",...,"7. Tech stack: dbt, AWS, Python, Tableau, HL7,...",,Job offer 2,1. Title: Senior Data Engineer (L5),2. YOE: 4,3. Location: Remote US (San Francisco),4. Base: $190k-207k USD,5. Bonuses/Equity: 10-15% annual; 100k-150k IS...,6. Industry: B2B SaaS (Series C),"7. Tech stack: Databricks, Terraform, AWS, Python"
54,[deleted],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
55,1.⁠Data Engineer,"2.⁠3 years in data, preceded by 5 years in dig...","3.⁠Austin, TX",4.⁠185k USD annual,5.⁠30k annual + stock options,6.⁠DTC consumer goods brand,"7.⁠Snowflake, dbt, AWS lambda, Segment",None,None,None,...,None,None,None,None,None,None,None,None,None,None
56,Title: Data Engineer II,"1. YoE: 1.5 at role, 4 total",2. Location: NYC,3. Base: \~130,4. Bonus: 10%,"5. Stack: AWS, Python, postgres",We're evaluating tools for orchestration and m...,None,None,None,...,None,None,None,None,None,None,None,None,None,None
57,1. Title: Data Engineer - market data,"2. YOE: 3.5 as a DE, 5 as a data analyst",3. HCOL city,4. 181k USD,5. Bonus: 20% last year - not sure what is exp...,6. Asset Management,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
58,Title: Data Engineer,YOE: 1 year (first job),Location: Fully remote,"Base Salary: 100,000 USD",Bonus: Anual short-term incentive 7-11%,Industry: Insurance,"Tech: Apache Kafka, KStreams",None,None,None,...,None,None,None,None,None,None,None,None,None,None
59,1. Title: Senior Data Engineer,"2. YOE: 31 years, 20 years in data","3. Location: Seattle, WA","4. Base: $160,000",5. Bonuses: zip,6. Industry: Healthcare,"7. Tech Stack: python, sql, GCP, Bigquery, Air...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
60,1. Data Consultant,2. 1 month (finished my minor degree last mon...,"3. Berlin, Germany, DE",4. 3.9K/mo ~47K/yo in EUR€,5. 2K every december &amp; chance to receive 5...,6. Consulting,"7. ETL (SSiS, Talend); Reporting (Tableau, Pow...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
61,1. Title: Azure Data Engineer,2. YoE: \~8,3. Location: London (but fully remote - in SEA...,"4. Salary: Not salaried, but rate equates to a...",5. Bonuses/equity: None,6. Industry: Nothing exciting,"7. Stack: Azure, ADF, Databricks, dbt","This rate isn't *great*, but the UK contract m...",None,None,...,None,None,None,None,None,None,None,None,None,None
62,1. Lead Data Engineer,2. 8/9,3. Scotland/ UK,"4. £65,000",5. ~9%,6. broadcasting/ Media,"7. old school ETL like informatica/Ab Initio,...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
63,1. Data Engineer,2. 2 years (previous 4y analyst),3. London - remote,"4. £60,000",5. Not sure yet,6. Consulting,"7. Azure (ADF, ADLS, Synapse), Databricks, PyS...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
64,1. Azure Data Engineer,2. 3.8 years,3. India (Noida),"4. 1,650,000 INR","5. 200,000 INR","7. PySpark, SQL, Azure Databricks, Azure Data ...",None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
65,Title: Data Engineer II,"YOE: 4 as DE, 5 as Analytics",Location: Chicago,Base Salary: 160k,Bonus: 10% annually - \~80k equity on joining,Industry: Tech,"Stack: GCP, K8s, Python, Golang, a couple of b...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
66,I was laid off in May and recently accepted th...,1. Current title: Data Engineer,2. Years of experience (YOE): 1.75y (all as DE...,3. Location: Remote (HQ in Chicago),"4. Base salary &amp; currency (dollars, euro, ...",5. Bonuses/Equity (optional): 10% target annua...,6. Industry (optional): Health Tech,"7. Tech stack (optional): Azure, Python, dbt",None,None,...,None,None,None,None,None,None,None,None,None,None
67,1. Title: Data Engineer,2. YOE: 4,3. Location: India,4. Base Salary: INR 16 LPA,5. Bonuses: 1.6 LPA,6. Industry: Retail,"7. Tech: Python, SQL, DWBI, Spark, Beam, Clou...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
68,1. Title: Data Engineer,2. YOE: Undergrad currently w/ 1y funded acad...,3. Location: Louisiana,4. Base Salary: 65 start -&gt; 73 when I finis...,"5. Bonus: de jure based off performance, but t...",6. Industry: AgFi,7. Tech stack: still not 100% sure. We are ret...,"Amazing opportunity, honestly. I also recently...",None,None,...,None,None,None,None,None,None,None,None,None,None
69,1. Data Engineer ||,2. 2y in data,3. Hybrid(India),4. $ 20k USD,5. $30k stocks,6. Healthcare,"7. Python, Airflow, Databricks",None,None,None,...,None,None,None,None,None,None,None,None,None,None
70,Data engineer,3 years,"Moscow, Russia",$31k net annual,no bonuses,e-commerce (Russian amazon analog),"Scala, ZIO, Spark streaming, hadoop, airflow, ...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
71,1. Title: Analytics Engineer,"2. YOE: 2,5 as data analyst, 3 months in curre...","3. Location: Stockholm, Sweden",4. 720 000 SEK (~63000€),5. Some stock,"6. Dbt, databricks, airflow",None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
72,1. Not actually DE but BI Analyst,2. 0.5 Years (YOE),3. Pakistan,4. $4300 USD per Year,5. No bonuses,6. Logistics,"7. Oracle SQL Developer, Windows task schedule...",,My company is pretty old school.,None,...,None,None,None,None,None,None,None,None,None,None

In [76]:
#drop extra column
#transformed_df = transformed_df.drop(labels='data.body', axis=1)
#print(transformed_df.shape)

0

In [ ]:
######### EXTRACT JOB TITLE

In [77]:
#standardize title column name
transformed_df_body.rename(columns={transformed_df_body.columns[0]: 'data.title'}, inplace=True)

'data.title'

In [79]:
#remove rows that don't start with any of the following: 1., 1), 1:, Title, Current title, DE, AE, DA, ETL Dev
patterns = ["1.", "1)", "1:", "1-", "Title", "Current Title", "Data Engineer", "Data Analyst", "Analytics Engineer", "ETL Developer"]
filter_condition = ~transformed_df_body["data.title"].str.lower().str.startswith(tuple(pattern.lower() for pattern in patterns))
transformed_df_body.loc[filter_condition] = ""

# transformed_filtered=transformed_df_body.loc[filter_condition]
# # transformed_filtered.to_csv(path_or_buf="./archive/test_filtered.csv", )
# print(transformed_filtered.shape)

In [81]:
#remove unnecessary strings like "1.", etc. from the beginning of the job title column values
transformed_df_body["data.title"] = transformed_df_body["data.title"].str.replace("^[ ]?1[.:)][ ]?","",regex=True)
transformed_df_body["data.title"] = transformed_df_body["data.title"].str.lower().str.replace("^[ ]?(current)?[ ]?(title)?[ ]?[:]?[ ]","",regex=True)
#transformed_filtered["data.title"] = transformed_filtered["data.title"].str.replace("⁠[ ]?title[:]?[ ]?","", regex=True)
#transformed_filtered.to_csv(path_or_buf="./archive/test_filtered.csv", )

In [83]:
#correct some edge cases
transformed_df_body["data.title"] = transformed_df_body["data.title"].str.replace(".*title:?\s?","", regex=True)
#strip white spaces
transformed_df_body["data.title"] = transformed_df_body["data.title"].str.strip()
transformed_df_body["data.title"] = transformed_df_body["data.title"].str.replace("^de$","data engineer", regex=True)
transformed_df_body

,data.title,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,staff data engineer,"2. 11y in software, 2.5y in data",3. Fully remote with HQ in NYC,4. $185K USD,5. $15K signing bonus,6. Workforce development,"7. BigQuery, dbt, AWS (kinesis, lambda), Airfl...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,senior analytics engineer,2. YOE: 7,"3. Location: Seattle, WA","4. Base Salary: $190,000","5. Bonuses/Equity: 20k joining, 120k equity sp...",6. Industry: Telehealth,"7. Tech Stack: Big Query, dbt, airflow, sql, l...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,data engineer,"2. YOE: 5 (3 as DE, 2 as SQL developer)",3. Location: The Netherlands,4. Base Salary: 5.250 gross per month,5. Bonus: currently none,6. Industry: Health tech,"7. Tech stack: GCP (Storage, VM), PySpark, SAS...",Edit: explained YOE,None,None,...,None,None,None,None,None,None,None,None,None,None
3,database engineer ii,2. YOE: &lt;1,"3. Hybrid US Midwest, MCOL",4. Base: $85k,5. 5% target annual bonus,6. Finance,"7. From: Airflow, DBT, Snowflake",To: Unknown minus Azure Data Factory. Intend t...,Background: just accepted this offer for $85k....,None,...,None,None,None,None,None,None,None,None,None,None
4,senior data engineer,2. YOE : 5,3. Location : London,4. Base salary: £65000,5. Edu,"7. Tech stack : Azure cloud (ADF, ADLS), datab...",None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,senior machine learning engineer,2. Years of experience: 4 years in various eng...,"3. Location: Chicago, but I work remote every ...",4. Base salary: 155k,"5. Bonuses/Equity: realistically 5-10k, but co...",6. Industry: DM and I might be able to tell,"7. Tech Stack: would take forever to write, bu...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,data engineering manager,2. 7 YOE,3. Seattle,4. $181k,5. TC with stocks adding up to $420k.,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,analytics engineer,"2) YOE: 11.5 in software, 3.5 in data.","3) Location: Orlando, FL","4) Base Salary: $117,000","5) Bonuses: Cash 7% target, long term incentiv...",6) industry: hospitality,"7) Tech: Hadoop/hive, python, snowflake, MariaDB",None,None,None,...,None,None,None,None,None,None,None,None,None,None
8,data engineer ii,"2. YOE: 2.5 in software, 1.5 in data.","3. Location: Orlando, FL","4. Base Salary: $139,000",5. Bonuses: 10% target,6. Industry: Healthcare,"7. Tech: Python, Snowflake, Airflow, Spark",None,None,None,...,None,None,None,None,None,None,None,None,None,None
9,bi + etl developer,"2. YOE : 0.5 DE, 2+ IT BA","3. Location : HCMC, Vietnam","4. Base Sal : $15,600",5. Bonuses : -,6. Industry : HRM / MSP,7. Tech : traditional MS shop with MS stack : ...,None,None,None,...,None,None,None,None,None,None,None,None,None,None
10,data engineer,2. YOE: 6.5 in data.,3. Location: DC,"4. Base Salary: $160,000",5. Bonuses: 10% target,6. Industry: startup,"7. Tech: Python, Snowflake, dagster, dbt",None,None,None,...,None,None,None,None,None,None,None,None,None,None
11,senior data engineer,2. 6 YOE,"3. Copenhagen, Denmark",4. 720000 DKK (Approx € 97000),5. 7.5% up to 14%,6. Maritime,7. Aws,None,None,None,...,None,None,None,None,None,None,None,None,None,None
12,⁠ data engineer,"2.⁠1Y BI, 2Y MLE, 1Y DE","3.Lcol, Tier 2 city in India",4.⁠16 LPA INR,5.⁠2 LPA INR,6.⁠Aviation,"7.⁠Python, Spark, Azure, Data Factory, Databricks",None,None,None,...,None,None,None,None,None,None,None,None,None,None
13,data engineer,2. 3 years academia bioinformatics with softwa...,"3. Fully remote, Durham, NC","4. $95,500","5. up to $5,000 yearly bonus",6. Healthcare,"7. Snowflake, Teradata, Alteryx, Ab initio (cu...",Female. All self-taught. No formal training in...,None,None,...,None,None,None,None,None,None,None,None,None,None
14,data engineer,"2. 4 (1 as DE, 3 as Analyst/Bi developer)",3. Finland,4. 60k EUR,"5. Holiday bonus 2,5k EUR , Billing rate bonus...",6. Consulting,"7. AWS (Glue, Lambda, S3, Athena, RDS, Cloudfo...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
15,sr data engineer,2. 8 YOE in data,"3. Seattle, WA (remote)",4. 184k Base,5. At current market value my annual equity is...,6. Tech,"7. AWS, Snowflake, Airflow, internally develop...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
16,data engineer,2. YoE: 2.5,"3. Location: remote, I’m based in north east US",4. Base: $125k,5. Bonuses: up to 30% salary,"7. Tech stack: GCP (BQ, cloud run, etc), Pytho...",None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
17,,Principal DE,2. Years of experience (YOE),Too many,3. Location,SoCal,"4. Base salary &amp; currency (dollars, euro, ...","230,000 USD",5. Bonuses/Equity (optional),Bonus: 35k,...,None,None,None,None,None,None,None,None,None,None
18,"analytics engineer (bit of everything tbh, jus...",2. YOE: 3.5,"3. Location: Indianapolis, IN","4. Base salary: $90,000",5. Bonuses: \~10% Cash,6. Industry: Agriculture,"7. Tech: Fivetran, Snowflake, dbt, Tableau",None,None,None,...,None,None,None,None,None,None,None,None,None,None
19,data engineer,"2. YOE: &lt;1, 3 in data","3. Location: Des Moines, IA",4. Base Salary: 75k,5. Bonuses: Up to 12% Base,6. Industry: Insurance,"7. Tech: Azure, dbt, Prefect, python",None,None,None,...,None,None,None,None,None,None,None,None,None,None
20,data engineering and bi manager,2. YOE: 5,3. 100% Remote (US Based),4. 135k,5. approx 15k per year,6. Consumer goods,"7. Dbt, python, prefect, snowflake, azure, aws...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
21,data engineer,2. YOE: 1,3. Location: Seattle,4. Base: $140k USD,5. Bonus: ~10k (based on rev/profitability),6. Industry: Insuretech,"7. Tech: AWs, Pyspark, DBT, Databricks, Airflo...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
22,everything ?,"(ELT development , DB management, BI report / ...",Also I have been taking on the role of BI arc...,,,2. 6 YOE,,,"3. Mtl, Qc, Canada",,...,,,"7. Old stack -&gt; MS SSIS, SSMS, tableau",,,"New stack -&gt; AWS MWAA (Airflow), dbt, snowf...",,,I am slowly starting to look around for better...,None
23,⁠senior “enterprise technology analyst” (data ...,2.⁠11 years in data (first 5 analytics and ML),"3.⁠US West coast (still WFH, but they’re plann...","4.⁠154K USD (146K in 2022, before promotion to...",5.⁠None.,6.⁠Utilities (municipal),"7.⁠Me: Hadoop, Spark, Python, SQL, custom orch...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
24,senior sales engineer,2. YOE: 15 years,3. Location: remote (Indiana),"4. Base salary: 185,000","5. Other income: 65,000 commission target + 20...",6. Healthcare,7. Snowflake,None,None,None,...,None,None,None,None,None,None,None,None,None,None
25,data engineer.,2. Self taught into job. Just over 2 YOE in D...,"3. UK (Not London, not South).",4. £70k,5. N/A,6. Professional services.,"7. Azure stack: Python/PySpark, Synapse, SQL, ...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
26,senior data engineer,"2. YOE: 2 years Software, 5 years DevOps, 10 y...","3. Location: Melbourne, Australia","4. Base Salary: $176,800 AUD",5. Bonuses: Cash 3%-6% depending on performance,6. Industry: Employment,"7. Tech: Python, Scala, SQL, Spark, Kafka, NiF...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
27,data engineer,2. 4y + 2y as DE,3. South Germany,4. 58k€,5. 6k€,6. Automotive,"7. PySpark, Databricks",None,None,None,...,None,None,None,None,None,None,None,None,None,None
28,data engineer,2.2,3.Remote US,4.140000 USD,"5.5% cash, stock options vested evenly over 4 ...",7.GCP,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
29,data engineer,"2. YOE: 4.5 (2 as analyst, 1 as BI engineer, 1...",3. Location: Remote Midwest,4. Base salary: $140k usd,5. Bonus: 10%,6. Industry: entertainment,"7. Tech stack: dbx, Snowflake, azure",Started this year at $89.7k base 🤠,None,None,...,None,None,None,None,None,None,None,None,None,None
30,data engineer,2.⁠YOE: 5,3.⁠Location: Midwest remote,"4.⁠Base Salary: $140,000",5.⁠Bonuses: ~$50K in stock,6.⁠industry: finance,"7.⁠Tech: airflow, python, snowflake",None,None,None,...,None,None,None,None,None,None,None,None,None,None
31,,,,,,,,,,,...,,,,,,,,,,
32,senior technical data analyst,"2. 10 (on and off in various data roles, was o...",3. REMOTE,4. 125k USD all cash.,"5. This year, it was $700.00(dont spend it all...",6. Food Service,"7. SQL, Light Python",None,None,None,...,None,None,None,None,None,None,None,None,None,None
33,senior data engineer,2. YOE: 5 years,"3. Location : Toronto, ON, Canada","4. Base : $130,000",5. Bonus 25%,6. Industry: Finance,7. Tech Stack: mostly Azure based,None,None,None,...,None,None,None,None,None,None,None,None,None,None
34,senior data engineer,YOE: 7,Location: TX,Base salary: 175k,Bonus: sign on for 20k,Industry: Insurance,"Tech stack: Azure, ADF, blob, VMs, ASQL, python",None,None,None,...,None,None,None,None,None,None,None,None,None,None
35,senior data engineer,2. 4 years,3. England,"4. £58,000 (GBP)",5. Up to 10% per year (4.5% for 2023),6. Retail,7. Azure / Databricks / Python / Synapse,None,None,None,...,None,None,None,None,None,None,None,None,None,None
36,lead data engineer,2. YOE: 20+ years,3. Location: remote USA,4. Salary: $185K USD,5. Bonus: 5-10%,6. &amp;#x200B;,7. Tech stack: Databricks,None,None,None,...,None,None,None,None,None,None,None,None,None,None
37,senior data engineer,2. 6 years,3. US west coast full remote,4. 180k,5. 40k paper money,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
38,analytics engineer ii,2. 2 years,"3. Dallas, TX",4. 82.5K,5. 10% of base,6. Advertising,"7. AWS, GCP, Python, dbt, SQL",None,None,None,...,None,None,None,None,None,None,None,None,None,None
39,data engineer,2. 3 as an analyst + 2 as a SWE/DE,3. SF Bay Area,4. 115K,5. 20k bonus,"7. python, AWS, legacy code has own scheduling...",None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
40,senior data engineer (more like data architect...,"2. YOE: 2.5 in weird Data role, 1.5 in Web Dev...","3. Location: Bangkok, Thailand (Hybrid) 4 day...","4. Base Salary: \~ $42,000",5. Bonus: 33%-38% Cash (2022: 33%),6. Industry: Manufacturing,"7. Tech Stack: Azure (ADF, ADLS, Batch, Functi...",,I am pretty sure I am way underpaid compared t...,None,...,None,None,None,None,None,None,None,None,None,None
41,staff data engineer,2. Too many years,3. Remote (HQ - NY),4. $210k USD,5. Equity $200k,"7. GCP, Postgres, DBT, BQ, Airflow, GCF, AWS, ...",None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
42,lead data engineer,2. 14 years,3. America - Remote only.,4. 311k USD,"5. Begins at 20%, technically no cap.",7. Kinda alot. Azure/AWS/On-Prem. Mix of DB's....,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
43,,,,,,,,,,,...,,,,,,,,,,
44,data engineer - operations process,"2. 6 professional, 1 in DE",3. NYC - (HYBRID),4. $90k USD,5. 10% + equity,6. Startup - logistics,"7. Python, SQL, AWS (S3, Lambda), Kafka, Alteryx",None,None,None,...,None,None,None,None,None,None,None,None,None,None
45,data engineer,2. 4 YOE,3. Seattle,4. 124k,"5. 10% cash, 20k yearly in stock",6. Entertainment,"7. Snowflake, python, airflow",None,None,None,...,None,None,None,None,None,None,None,None,None,None
46,"associate director, data engineering","2. YOE: 17 years in data (DBA, analyst, engineer)",3. Location: Small city in Pennsylvania,4. Base Salary: $136k,5. Industry: Environmental non-profit,6. Tech: Currently SAS and Redshift but with e...,Sometimes feel vastly underpaid but that’s my ...,None,None,None,...,None,None,None,None,None,None,None,None,None,None
47,data engineer,2.: 3 YOE,"3: Budapest, Hungary",4: 37000 Euros,"5: breakfast, lunch in the office. Multiple te...",6: American job board,"7: AWS (lambda, ecs, emr, dynamo, kinesis, ste...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
48,,,,,,,,,,,...,,,,,,,,,,
49,data engineer,2. 1 year DE 2 years DS 3 years other,3. Boston,4. 160k,"5. No bonus, nonzero but pretty shit equity",6. Logistics,"7. AWS, Airflow, Snowflake, dbt",None,None,None,...,None,None,None,None,None,None,None,None,None,None
50,,,,,,,,,,,...,,,,,,,,,,
51,senior data engineer (tech lead),2. 9 yrs mix of software/data,"3. Remote (company HQ in NJ), I’m in Baton Rou...",4. $140k salary,5. 401k 5% match (3% at 100% match 4 and 5 50%...,6. Health Tech,"7. Snowflake, Azure storage, ADF, dbt, some Py...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
52,,,,,,,,,,,...,,,,,,,,,,
53,,,,,,,,,,,...,,,,,,,,,,
54,,,,,,,,,,,...,,,,,,,,,,
55,⁠data engineer,"2.⁠3 years in data, preceded by 5 years in dig...","3.⁠Austin, TX",4.⁠185k USD annual,5.⁠30k annual + stock options,6.⁠DTC consumer goods brand,"7.⁠Snowflake, dbt, AWS lambda, Segment",None,None,None,...,None,None,None,None,None,None,None,None,None,None
56,data engineer ii,"1. YoE: 1.5 at role, 4 total",2. Location: NYC,3. Base: \~130,4. Bonus: 10%,"5. Stack: AWS, Python, postgres",We're evaluating tools for orchestration and m...,None,None,None,...,None,None,None,None,None,None,None,None,None,None
57,data engineer - market data,"2. YOE: 3.5 as a DE, 5 as a data analyst",3. HCOL city,4. 181k USD,5. Bonus: 20% last year - not sure what is exp...,6. Asset Management,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
58,data engineer,YOE: 1 year (first job),Location: Fully remote,"Base Salary: 100,000 USD",Bonus: Anual short-term incentive 7-11%,Industry: Insurance,"Tech: Apache Kafka, KStreams",None,None,None,...,None,None,None,None,None,None,None,None,None,None
59,senior data engineer,"2. YOE: 31 years, 20 years in data","3. Location: Seattle, WA","4. Base: $160,000",5. Bonuses: zip,6. Industry: Healthcare,"7. Tech Stack: python, sql, GCP, Bigquery, Air...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
60,data consultant,2. 1 month (finished my minor degree last mon...,"3. Berlin, Germany, DE",4. 3.9K/mo ~47K/yo in EUR€,5. 2K every december &amp; chance to receive 5...,6. Consulting,"7. ETL (SSiS, Talend); Reporting (Tableau, Pow...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
61,azure data engineer,2. YoE: \~8,3. Location: London (but fully remote - in SEA...,"4. Salary: Not salaried, but rate equates to a...",5. Bonuses/equity: None,6. Industry: Nothing exciting,"7. Stack: Azure, ADF, Databricks, dbt","This rate isn't *great*, but the UK contract m...",None,None,...,None,None,None,None,None,None,None,None,None,None
62,lead data engineer,2. 8/9,3. Scotland/ UK,"4. £65,000",5. ~9%,6. broadcasting/ Media,"7. old school ETL like informatica/Ab Initio,...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
63,data engineer,2. 2 years (previous 4y analyst),3. London - remote,"4. £60,000",5. Not sure yet,6. Consulting,"7. Azure (ADF, ADLS, Synapse), Databricks, PyS...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
64,azure data engineer,2. 3.8 years,3. India (Noida),"4. 1,650,000 INR","5. 200,000 INR","7. PySpark, SQL, Azure Databricks, Azure Data ...",None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
65,data engineer ii,"YOE: 4 as DE, 5 as Analytics",Location: Chicago,Base Salary: 160k,Bonus: 10% annually - \~80k equity on joining,Industry: Tech,"Stack: GCP, K8s, Python, Golang, a couple of b...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
66,,,,,,,,,,,...,,,,,,,,,,
67,data engineer,2. YOE: 4,3. Location: India,4. Base Salary: INR 16 LPA,5. Bonuses: 1.6 LPA,6. Industry: Retail,"7. Tech: Python, SQL, DWBI, Spark, Beam, Clou...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
68,data engineer,2. YOE: Undergrad currently w/ 1y funded acad...,3. Location: Louisiana,4. Base Salary: 65 start -&gt; 73 when I finis...,"5. Bonus: de jure based off performance, but t...",6. Industry: AgFi,7. Tech stack: still not 100% sure. We are ret...,"Amazing opportunity, honestly. I also recently...",None,None,...,None,None,None,None,None,None,None,None,None,None
69,data engineer ||,2. 2y in data,3. Hybrid(India),4. $ 20k USD,5. $30k stocks,6. Healthcare,"7. Python, Airflow, Databricks",None,None,None,...,None,None,None,None,None,None,None,None,None,None
70,data engineer,3 years,"Moscow, Russia",$31k net annual,no bonuses,e-commerce (Russian amazon analog),"Scala, ZIO, Spark streaming, hadoop, airflow, ...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
71,analytics engineer,"2. YOE: 2,5 as data analyst, 3 months in curre...","3. Location: Stockholm, Sweden",4. 720 000 SEK (~63000€),5. Some stock,"6. Dbt, databricks, airflow",None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
72,not actually de but bi analyst,2. 0.5 Years (YOE),3. Pakistan,4. $4300 USD per Year,5. No bonuses,6. Logistics,"7. Oracle SQL Developer, Windows task schedule...",,My company is pretty old school.,None,...,None,None,None,None,None,None,None,None,None,None
73,data engineer ii,"2. YOE: 1,5 years of experience (My first expe...","3. Location: São Paulo, Brazil","4. Salary: R$ 39876/ year (Aprox $ 8437,76/ ye...","5. Benefits: Meal ticket, Health Insurance, Li...",6. Industry: Consulting (Allocated in the bank...,"7. Stack: Hadoop, Hive, HBase, PySpark, IWS (I...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
74,vp data science and hands on full stack engine...,"2. 30 years post PhD. Academia, Banking, Hea...","3. East coast on the AMTRAK NE regional, MCOL...",4. $195k base,5. $450k option package over 5 years with $20...,6. Supply chain ML/AI,"7. Azure, SQL, Python, C++, Java, .NET, R",None,None,None,...,None,None,None,None,None,None,None,None,None,None
75,junior backend developer,2. YOE: 9 months,"3. Location: Malaga, Spain",4. Base salary: 31.4k €,5. Bonuses/Equity: until 20% in targets + 2.5k...,6. Industry: telecom,"7. Tech stack: Java, Spring Boot, Spark, Hadoo...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
76,ml engineer ii,"2. YOE: 4 month bootcamp, 15 months working","3. Location: London, UK","4. Base Salary: £60,000",5. Bonuses: Equity,6. Industry: Geospatial,"7. Tech: Python, GCP (GKE, GCE, Composer, BigQ...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
77,,,,,,,,,,,...,,,,,,,,,,
78,,,,,,,,,,,...,,,,,,,,,,
79,lead data management analyst,"2. YOE: 3 in supply chain, 2 in data",3. Location: Southeast USA (Remote),4. Base Salary: $70 per hour (Contract),5. Bonuses: None,6. Industry: Banking,"7. Tech: SQLite, Python",None,None,None,...,None,None,None,None,None,None,None,None,None,None
80,applications administrator/business applicatio...,2. Experience: (1.5yr fresh out of college),"3. Location: NC, United States","4. Base Salary: 74,520 (above mentioned change...","5. Bonuses: State insurance, pension, 5 weeks ...",6. Industry: Higher Ed,"7. Stack: Oracle DBs, Boomi (evaluating replac...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
81,data engineer,"2. YOE: 1 in DE, 3.5 as Data Analyst","3. Location: Phoenix, AZ","4. Base Salary: $98,000","5. Bonuses: $12,000 in stock vesting over 4 ye...",6. Industry: E-commerce,"7. Tech Stack: Python, Databricks, Snowflake, ...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
82,data engineer,2. 3 years of DA + 2 years of DE,3. Toronto,4. 110 CAD,5. 20 CAD,6. Traditional F500,"7. Python, Spark, Airflow, Dockery, Hive.... ...",None,None,None,...,None,None,None,None,None,None,None,None,None,None
83,data engineer,YOE: 3 as DE. 2 prior as analyst.,Location: Denver (WFH),Base salary: $112k,Bonuses: 10% | negligible equity,Industry: cannabis tech,"Tech stack: Azure Data Factory, Snowflake, SQL...",None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [93]:
#Attach title column to original df
transformed_df2 = pd.concat([transformed_df, transformed_df_body['data.title']], axis=1)